.featured {
    object-fit: contain;
    height: 500px;
  }
  
  .featured-movies {
    color: rgb(247, 247, 247);
    margin-left: 30px;
    padding-top: 30px;
    height: 190px;
  }
  
  .featured-title {
    font-size: 4rem;
    font-weight: 700;
    padding-top: 3rem;
    padding-bottom: 0.4rem;
  }
  
  .featured-description {
    line-height: 1.4rem;
    padding-top: 1rem;
    font-size: 1.3rem;
    max-width: 470px;
    height: 100px;
    font-weight: 500;
  }
  
  .featured-button {
    cursor: pointer;
    color: whitesmoke;
    background-color: rgba(40, 40, 40, 0.8);
    border: 2px solid rgb(246, 243, 243, 0.8);
    outline: none;
    font-weight: 700;
    border-radius: 2px;
    padding: .6rem 1.9rem;
    margin-right: 1rem;
  }
  
  .featured-button-list {
    cursor: pointer;
    color: rgba(40, 40, 40, 0.8);
    background-color: rgb(246, 243, 243, 0.8);
    border: none;
    outline: none;
    font-weight: 700;
    border-radius: 2px;
    padding: .7rem 1.3rem;
    margin-right: 1rem;
  }
  
  .featured-button-list:hover {
    color: rgb(246, 243, 243);
    background-color: rgba(40, 40, 40, 0.8);
    transition: all 0.3s;
  }
  
  .featured-button:hover {
    color: rgba(40, 40, 40, 0.8);
    background-color: rgb(246, 243, 243, 0.8);
    transition: all 0.3s;
  }
  
  .fade-bottom {
    height: 17.5rem;
    background-image: linear-gradient(to top, rgba(13, 13, 13, 1), 65%, transparent 100%);
  }

  .top-ten {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  