
.movie-details {
    display: flex;
    flex-direction: column;
    color: rgb(246, 243, 243);
    background-color: rgb(13, 13, 13);
    max-width: 100%;
  }
  
  .movie-details-body {
    display: flex;
    max-width: 100%;
  }
  
  .movie-info {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .video-title {
    margin-bottom: 10px;
    color: rgb(210, 205, 205);
  }
  
  .video-title>a:hover {
    text-decoration: none;
    color: rgb(77, 194, 223);
  }
  
  .movie-description {
    margin: 7rem;
    display: flex;
    flex-direction: row;
    max-width: 75%;
  }
  
  .movie-description > img {
    border: 1px solid rgb(49, 47, 47);
    border-radius: 5px;
  }
  
  .movie-description-details {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    padding: 2px;
  }
  .movie-description-details p {
    margin: 5px 0px;
    
  }
  .movie-description-tag {
    color: rgb(158, 155, 155);
    line-height: 1.6rem;
    margin-top: 15px;
  }
  
  .movie-description-tag span {
    font-size: small;
    color: black;
    background-color: rgb(77, 194, 223);
    border-radius: 2px;
    padding: 2px 5px;
  }
  
  .Add-fav:hover {
    color:  rgb(77, 194, 223);
    cursor: pointer;
  }
  
  .remove-fav:hover {
    color: red;
    cursor: pointer;
  }
  
  .movie-poster-container {
    position: relative;
  }

  .Add-fav-details {
    position: absolute;
    right: 0;
  }
  
  .Add-fav-details:hover {
    color:  rgb(77, 194, 223);
    cursor: pointer;
  }

  @media screen and (max-width:820px) {
    .movie-details {
        align-items: center;
    }

    .react-player {
        max-width: 370px;
        max-height: 450px;
    }

    .movie-details-body {
        display: flex;
        max-width: 100%;
        margin-top: 5rem;
      }

    .movie-description {
        margin: 0rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }
  }