.plansPage-plan {
    font-size: x-large;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    opacity: 0.8;
  }
  
  .plansPage-plan:hover {
    opacity: 1;
  }
  
  .plansPage-plan>button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: rgb(77, 194, 223);
    font-weight: 600;
    border: none;
    cursor: pointer;
  }
  