* {
  margin: 0;
  padding: 0;
}

.App {
  /* display: flex; 
   flex-direction: column; */
  /* justify-content: center; */
  /* text-align: center; */
  background-color: rgb(13, 13, 13);
  /* color: black;  */
}

.navbar {
  color: whitesmoke;
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  /* background-color: rgba(10, 10, 10, 0.8); */
  padding: 11px;
  z-index: 1;
  transition-timing-function: ease-in-out;
  transition: all 0.3s;
}

.navbar-black {
  background-color: rgba(10, 10, 10, 0.8);
}

.navbar-title {
  font-family: sans-serif;
  padding: 0.2rem;
  margin-left: 1rem;
  background-color: rgb(77, 194, 223);
  box-shadow: rgb(13, 13, 13);
  border-radius: 2px;
}

.row {
  color: whitesmoke;
  margin-left: 1rem;
}

.row-posters {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 21px;
}

.row-posters::-webkit-scrollbar {
  display: none;
}

.row-poster {
  width: 100%;
  object-fit: contain;
  max-height: 11rem;
  transition: transform 200ms;
  margin-right: 1rem;
}

.row-poster:hover {
  transform: scale(1.08);
}

.large-row {
  max-height: 20rem;
}

.large-row:hover {
  transform: scale(1.09);
}

.featured {
  object-fit: contain;
  height: 500px;
  /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, transparent 100%); */
}

.featured-movies {
  color: whitesmoke;
  margin-left: 30px;
  padding-top: 30px;
  height: 190px;
  /* text-align: center; */
}

.featured-title {
  font-size: 4rem;
  font-weight: 800;
  padding-top: 3rem;
  padding-bottom: 0.4rem;
}

.featured-description {
  /* width: 45rem; */
  line-height: 1.4rem;
  padding-top: 1rem;
  font-size: 1.3rem;
  max-width: 470px;
  height: 100px;
}

.featured-buttons {
  margin-left: 3rem;
}

.featured-button {
  cursor: pointer;
  color: whitesmoke;
  background-color: rgba(40, 40, 40, 0.8);
  border: none;
  outline: none;
  font-weight: 700;
  border-radius: 2px;
  padding: .7rem 1.3rem;
  margin-right: 1rem;
}

.featured-button:hover {
  color: black;
  background-color: rgb(184, 180, 180);
  transition: all 0.3s;
}

.fade-bottom {
  height: 17.5rem;
  background-image: linear-gradient(to top, rgba(13, 13, 13, 1), 65%, transparent 100%);
}